" Usar portapapeles del sistema
set clipboard+=unnamed

" Plugins
set surround
set commentary
set easymotion
set argtextobj
set textobj-entire
set NERDTree
set paragraph-motion

" Defaults
set iskeyword+=-
set splitright
set splitbelow
set incsearch
set scrollof=5

" Leader
let mapleader=" "

" Cambiar de espacio en el editor
nnoremap <silent> <C-a> :e#<CR>

" Centrar saltos de búsqueda
nnoremap n nzz
nnoremap N Nzz

" Centrado al combinar líneas
nnoremap J mzJ`z

" Copiar hasta el final de la línea
nnoremap Y y$

" ------
" SPLITS
" ------

sethandler <A-h> n:vim
sethandler <C-j> n-i:vim
sethandler <C-k> n-i:vim

" Mover a split izquierdo
nnoremap <silent> <A-h> <C-w>h

" Mover a split derecho
nnoremap <silent> <A-l> <C-w>l

" Mover a split de abajo
nnoremap <silent> <A-j> <C-w>j

" Mover a split de arriba
nnoremap <silent> <A-k> <C-w>k

" Reducir split vertical
nnoremap <C-A-h> :vertial resize -5<CR>

" Agrandar split vertical
nnoremap <C-A-l> :vertial resize +5<CR>

" Reducir split horizontal
nnoremap <C-A-j> :resize -5<CR>

" Agrandar split horizontal
nnoremap <C-A-k> :resize +5<CR>

" Crear split horizontal
nnoremap <silent> <leader>sh :split<CR>

" Crear split vertical
nnoremap <silent> <leader>sv :vs<CR>

" Rotar splits
nnoremap <silent> <leader>sr <C-W>R

" Mover split a pestaña
nnoremap <silent> <leader>st <C-W>T

" -------
" ACTIONS
" -------

" Refactor
nnoremap <silent> <leader>lr :action RenameElement<CR>

" Find file
nnoremap <silent> <leader>ff :action GotoFile<CR>

" Find text
nnoremap <silent> <leader>fg :action FindInPath<CR>

" Reformat code
nnoremap <silent> <leader>lf :action ReformatCode<CR>

" Easy motion
map s <Plug>(easymotion-s)

" Nerd-tree
map <leader>fe :NERDTreeToggle<CR>

" Code navigation
nnoremap gi :action GotoImplementation<CR>

" UI Navigation
inoremap <c-k> :action EditorDown<CR>
inoremap <c-j> :action EditorUp<CR>
