snippet syso Standard output
	System.out.println(${1});
snippet psvm Main Method
	public static void main(String[] args) {
		${1}
	}
snippet st "Something" !b
	snip.mkline(line="", indent=None)

snippet todo "something"
	// TODO: ${1:desc} `strftime("%c")`

snippet test "test" A
\test{$1}
endsnippet
