[user]
	name = Aristeo Montoya

[core]
	editor = nvim
	pager = delta

[init]
	defaultBranch = master

[interactive]
	diffFilter = delta --color-only

[delta]
	true-color = always
	navigate = true
	line-numbers = true

[merge]
	conflictstyle = diff3

[diff]
	colorMoved = default

[include]
	path = ~/.gitconfig-local # Intended to be used on different hosts
