eclipse.jdt.ls
.netrwhist
log_pdf.log
coc
nvim/plugin
nvim/plugin/packer_compiled.vim
java-debug
nvim/.config/nvim/plugin
nvim/.config/nvim/after
tmux/.config/tmux/session-scripts/env/*
!tmux/.config/tmux/session-scripts/env/.gitkeep
nvim/.config/nvim/lua/user/treesitter/overrides.lua
nvim/.config/nvim/lua/lsp/overrides.lua
zsh/.config/zsh/env/*
!zsh/.config/zsh/env/.gitkeep
cheat/.config/cheat/local/*
!cheat/.config/cheat/local/.gitkeep
